
version: '3.3'

services:
    redis:
        image: redis
        ports: ['6379:6379']
    mongo:
        image: mongo
        ports: ['27017:27017']
        environment:
            - MONGO_INITDB_ROOT_USERNAME=admin
            - MONGO_INITDB_ROOT_PASSWORD=password
            - MONGO_INITDB_DATABASE=ianus-db